[Unit]
Description=Turn off pt-hub-controller on shutdown using ptctl
DefaultDependencies=no
Before=umount.target
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/opt/ptctl/ptctl.py system off

[Install]
WantedBy=halt.target poweroff.target
